@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=latin,cyrillic);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

aside, nav, footer, header, section {
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Roboto";
    background-color: #fafafa;
}

a, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

.clr {
    clear: both;
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.row:after {
    display: block;
    content: '';
    clear: both;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0px;
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

/*
font-family: 'Roboto';
@extend .fr;
@include anim(0.3s);
*/
header {
    background: url("/img/bg-header.png") top no-repeat;
    z-index: 50;
    position: relative;
}

header .container {
    height: 199px;
}

.header-top {
    height: 49px;
    padding-top: 15px;
}

.header-top__phone {
    font-size: 16px;
    line-height: 18px;
    float: left;
    padding-left: 20px;
    color: #fff;
    color: #fafafa;
    background: url("/img/icons/phone.png") left no-repeat;
}

.header-top__email {
    font-size: 16px;
    line-height: 18px;
    float: left;
    margin: 0 30px;
    padding-left: 26px;
    text-decoration: none;
    color: #fff;
    color: #fafafa;
    background: url("/img/icons/mail.png") left no-repeat;
}

.header-top__messender {
    font-size: 16px;
    line-height: 18px;
    float: left;
    margin: 0 10px;
    padding-left: 20px;
    text-decoration: none;
    height: 20px;
}
.m_viber {
    background: url("/img/icons/m_viber.png") left no-repeat;
}
.m_whatsapp {
    background: url("/img/icons/m_whatsapp.png") left no-repeat;
}
.m_telegram {
    background: url("/img/icons/m_telegram.png") left no-repeat;
}
.m_skype {
    background: url("/img/icons/m_skype.png") left no-repeat;
}

.header-top__callback {
    float: right;
    line-height: 18px;
    color: #f1b80f;
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
}

.header-top__callback span {
    border-bottom: 1px dotted;
    line-height: 14px;
    display: inline-block;
}

.header-top__callback:hover {
    color: #fe9700;
}

.header-bottom {
    padding-top: 30px;
}

.header__logo {
    float: left;
    margin-top: 7px;
}

.header-search {
    position: relative;
    float: left;
    width: 509px;
    height: 51px;
    margin-left: 19px;
    border: 3px solid #4b7fc0;
    border-radius: 30px;
    background-color: #325684;
}

.header-search__input {
    height: 45px;
    width: 100%;
    background-color: transparent;
    padding: 0 50px 0 23px;
    font-family: 'Roboto';
    color: #fafafa;
    font-size: 14px;
}

.header-search__input.err {
    color: red;
}

.header-search__btn {
    background: url("/img/icons/search.png") 0 0 no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.header-search__btn:hover {
    background: url("/img/icons/search-h.png") 0 0 no-repeat;
}

.header-search__btn:active {
    background: url("/img/icons/search.png") 0 0 no-repeat;
}

.header-cart {
    float: right;
    border-radius: 30px;
    border: 3px solid #4b7fc0;
    width: 210px;
    height: 51px;
    background: #325684 url("/img/icons/cart.png") -3px -3px no-repeat;
    text-decoration: none;
}

.header-cart.active {
    background: #325684 url("/img/icons/cart-active.png") -3px -3px no-repeat;
}

.header-cart-values {
    padding-left: 57px;
    line-height: 44px;
    color: #fafafa;
}

.header__menuicon {
    display: none;
}

.header-menu {
    position: absolute;
    bottom: -39px;
    width: 100%;
    height: 78px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 13px 25px -5px rgba(94, 122, 158, 0.4);
}

ul.header-menu-list {
    text-align: center;
    display: table;
    width: 100%;
}

ul.header-menu-list > li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

ul.header-menu-list > li:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    right: -2.5px;
    top: 50%;
    margin: -3px 0 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 5px;
    height: 5px;
}

ul.header-menu-list > li.hover .header-menu-list__link {
    color: #315684;
}

ul.header-menu-list > li.hover .header-menu-list__link:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 48px;
    height: 11px;
    margin-left: -24px;
    content: '';
    background: url("/img/icons/menu-h.png") 0 0 no-repeat;
}

ul.header-menu-list > li.hover:after {
    background-color: #325684;
}

ul.header-menu-list > li.hover ul.header-menu-sublist {
    display: block;
}

ul.header-menu-list > li.active:after {
    background-color: #4b7fc0;
}

ul.header-menu-list > li.active .header-menu-list__link {
    color: #4b7fc0;
}

ul.header-menu-list > li.active .header-menu-list__link:before {
    background: url("/img/icons/menu-a.png") 0 0 no-repeat;
}

ul.header-menu-list > li.iconhover:after {
    background-color: #325684;
}

ul.header-menu-list > li.iconactive:after {
    background-color: #4b7fc0;
}

ul.header-menu-list > li:first-child {
    padding-left: 0;
}

ul.header-menu-list > li:last-child {
    padding-right: 0;
}

ul.header-menu-list > li:last-child:after {
    display: none;
}

.header-menu-list__link {
    font-size: 16px;
    font-weight: 900;
    line-height: 78px;
    position: relative;
    display: block;
    height: 78px;
    text-decoration: none;
    text-transform: uppercase;
    color: #131316;
}

ul.header-menu-sublist {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #fff;
    border-radius: 15px;
    width: 310px;
    box-shadow: 0 0 30px 0 rgba(94, 122, 158, 0.4);
    text-align: left;
}

ul.header-menu-sublist:before {
    position: absolute;
    top: -7px;
    left: 25px;
    width: 0;
    height: 0;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 6px solid transparent;
}

ul.header-menu-sublist > li {
    list-style: none;
    overflow: hidden;
}

ul.header-menu-sublist > li:first-child {
    border-radius: 15px 15px 0 0;
}

ul.header-menu-sublist > li:last-child {
    border-radius: 0px 0px 15px 15px;
}

.header-menu-sublist__link {
    display: block;
    color: #474750;
    padding: 15px 25px;
    text-decoration: none;
    position: relative;
}

.header-menu-sublist__link:before {
    content: '›';
    position: absolute;
    left: 15px;
    top: 14px;
}

.header-menu-sublist__link:hover {
    background-color: #f1b80f;
    color: #fff;
    font-weight: 900;
}


a.no-click {
    pointer-events: none;
    cursor: default;
}

@media (max-width: 992px) {
    .header-search {
        width: 315px;
    }

    ul.header-menu-list > li {
        padding: 0 15px;
    }

    ul.header-menu-list > li:after {
        display: none;
    }

    .header-menu-list__link {
        font-size: 14px;
    }
    a.no-click {
        pointer-events: all;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    header .container {
        height: auto;
    }

    .header-top {
        background-color: #325684;
        padding: 15px 1000px 15px 1000px;
        margin: 0 -1000px;
        height: auto;
    }

    .header-bottom {
        padding: 15px 1000px;
        margin: 0 -1000px;
        background-color: #f7f1df;
    }

    .header__logo {
        margin-top: 0;
    }

    .header-search {
        width: 100%;
        margin: 15px 0;
    }

    .header-search__input {
        padding: 0px 50px 0px 15px;
    }

    .header-cart {
        width: 100%;
    }

    .header__menuicon {
        display: block;
        position: relative;
        float: right;
        margin-right: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #f1b80f;
        cursor: pointer;
        z-index: 5;
    }

    .header__menuicon span {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        top: 19px;
        left: 5px;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

    .header__menuicon span:first-child {
        top: 12px;
    }

    .header__menuicon span:last-child {
        top: auto;
        bottom: 12px;
    }

    .header__menuicon.active {
        position: absolute;
        top: 7px;
        right: 5px;
    }

    .header__menuicon.active span {
        display: none;
    }

    .header__menuicon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 19px;
        display: block;
    }

    .header__menuicon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 19px;
        display: block;
    }

    .header-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: auto;
        border-radius: 0;
        overflow: auto;
    }

    .header-menu.active {
        display: block;
    }

    ul.header-menu-list {
        text-align: left;
    }

    ul.header-menu-list > li {
        display: block;
        padding: 0px 0px 0px 0px;
        border-bottom: 1px solid #eee;
    }

    .header-menu-list__link {
        font-size: 16px;
        line-height: 1;
        height: auto;
        padding: 20px;
    }

    ul.header-menu-sublist {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: 0 0 0 #000;
        width: 100%;
        background-color: #f1b80f;
    }

    ul.header-menu-sublist > li {
        border-bottom: 1px solid #eee;
        border-radius: 0 !important;
    }

    .header-menu-sublist__link {
        color: #fff;
    }

    a.no-click {
        pointer-events: all;
        cursor: pointer;
    }

    .header-top__email {
        margin: 0 20px;
    }
}

@media (max-width: 600px) {
    .header-top {
        text-align: center;
    }

    .header-top__email {
        margin: 10px 30px;
    }

    .header-top__phone, .header-top__email, .header-top__callback {
        float: none;
        display: inline-block;
    }

    a.no-click {
        pointer-events: all;
        cursor: pointer;
    }
}

.mainsteps {
    padding: 110px 0px 65px 0px;
}

.mainsteps__inside {
    background-color: #fff;
    padding: 65px 0;
}

.mainsteps__title {
    margin-bottom: 45px;
}

.mainsteps-row {
    background: url("/img/steps/bg-steps.png") center 30px no-repeat;
}

.mainsteps-column {
    float: left;
    width: 25%;
    text-align: center;
}

.mainsteps-item {
    padding: 0 15px;
}

.mainsteps-item__icon {
    margin-bottom: 15px;
}

.mainsteps-item__text {
    color: #474750;
    line-height: 22px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .mainsteps {
        padding: 50px 0px 45px 0px;
    }
}

@media (max-width: 650px) {
    .mainsteps {
        padding: 50px 0px 45px 0px;
    }

    .mainsteps-row {
        display: table;
        width: 100%;
        font-size: 0;
        background: none;
    }

    .mainsteps-column {
        width: 50%;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
    }

    a.no-click {
        pointer-events: all;
        cursor: pointer;
    }
}

.mainformblock {
    padding: 0px 0px 70px 0px;
}

.mainformblock-block {
    display: table;
    width: 100%;
}

.mainformblock-block-cell {
    display: table-cell;
    vertical-align: middle;
}

.mainformblock-block-cell:first-child {
    width: 52%;
}

.mainformblock-block-cell:last-child {
    width: 48%;
    border: 3px solid #f0f0f0;
    border-left: none;
    border-radius: 0 15px 15px 0;
}

.mainformblock-form {
    margin-right: -5px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0px 45px 0px rgba(94, 122, 158, 0.4);
    border-radius: 10px;
    position: relative;
}

.mainformblock-form:after {
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 82px;
    margin-top: -41px;
    content: '';
    background: url("/img/icons/form-arrow.png") 0 0 no-repeat;
}

.mainformblock-form__title {
    margin-bottom: 20px;
}

.mainformblock-info {
    padding: 0 20px 0 50px;
}

.mainformblock-info-item {
    display: table;
    width: 100%;
    padding: 10px 0;
}

.mainformblock-info-item__img {
    display: table-cell;
    width: 150px;
}

.mainformblock-info-item__img img {
    border-radius: 10px;
    box-shadow: 0 0px 25px 0px rgba(94, 122, 158, 0.4);
}

.mainformblock-info-item__text {
    display: table-cell;
    vertical-align: middle;
    color: #474750;
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
}

@media (max-width: 992px) {
    .mainformblock .popup-body-column-recaptcha {
        width: auto;
        margin-bottom: 20px;
        float: none;
    }

    .mainformblock .popup-body-column-recaptcha:last-child {
        margin-bottom: 0;
    }
    .mainformblock .popup-body-column {
        width: auto;
        margin-bottom: 20px;
        float: none;
    }

    .mainformblock .popup-body-column:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .mainformblock-block-cell {
        width: auto !important;
        display: block;
    }

    .mainformblock-block-cell:last-child {
        border: 3px solid #f0f0f0;
        border-top: none;
        border-radius: 0 0px 15px 15px;
    }

    .mainformblock-form {
        margin: 0 0 -5px 0;
        padding: 20px;
    }

    .mainformblock-form:after {
        content: '';
        display: none;
    }

    .mainformblock-info {
        padding: 30px 20px 30px 20px;
    }
}

@media (max-width: 500px) {
    .mainformblock-info-item__img {
        display: block;
        text-align: center;
        width: auto;
        padding-bottom: 15px;
    }

    .mainformblock-info-item__text {
        display: block;
        text-align: center;
        padding: 0;
    }
}

.mainruls {
    padding: 60px 0px 40px 0px;
}

.mainruls__title {
    margin-bottom: 30px;
}

.mainruls-block {
    margin: 0 -16px;
}

.mainruls-column {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    padding: 0 16px;
}

.mainruls-item {
    height: 276px;
    border-radius: 9px;
    position: relative;
    text-align: center;
    padding-top: 33px;
    background-color: #fff;
    border-top: 3px solid #f0edf6;
    box-shadow: 0 25px 33px -30px rgba(94, 122, 158, 0.4);
}

.mainruls-item:before {
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 0;
    width: 15px;
    height: 212px;
    content: '';
    background: url("/img/ruls/bg-left.png") 0 0 no-repeat;
}

.mainruls-item:after {
    position: absolute;
    z-index: 1;
    top: -3px;
    right: 0;
    width: 15px;
    height: 212px;
    content: '';
    background: url("/img/ruls/bg-right.png") 0 0 no-repeat;
}

.mainruls-item__icon, .mainruls-item__text {
    position: relative;
    z-index: 2;
}

.mainruls-item__icon {
    font-size: 50px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 85px;
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-bottom: 18px;
    text-align: center;
    color: #ffc412;
    border-radius: 50%;
    background-color: #f2b90f;
    text-shadow: 0 3px 9px rgba(65, 38, 0, 0.75);
}

.mainruls-item__text {
    line-height: 20px;
    padding: 0 15px;
    color: #131316;
}

@media (max-width: 992px) {
    .mainruls-column {
        width: 50%;
    }
}

@media (max-width: 530px) {
    .mainruls-column {
        width: 100%;
    }
}

.mainpopular {
    padding: 50px 0 20px 0;
}

.mainpopular__title {
    margin-bottom: 30px;
}

.mainpopular-row {
    margin: 0 -16px;
}

.mainpopular-column {
    float: left;
    width: 25%;
    padding: 0 16px;
    margin-bottom: 32px;
}

.mainpopular-item {
    height: 291px;
    padding: 20px;
    text-align: center;
    border: 3px solid #f0f0f0;
    border-radius: 10px;
    background-color: #fff;
}

.mainpopular-item:hover {
    box-shadow: 0 0px 45px 0px rgba(94, 122, 158, 0.4);
    border: 3px solid #fff;
}

.mainpopular-item:hover .mainpopular-item__image {
    opacity: 0.5;
}

.mainpopular-item:hover .mainpopular-item__btn {
    background: #4b7fc0;
}

.mainpopular-item__image {
    display: table;
    width: 100%;
    margin-bottom: 14px;
}

.mainpopular-item__image a {
    display: table-cell;
    height: 110px;
    vertical-align: middle;
}

.mainpopular-item__title {
    color: #25252d;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

.mainpopular-item__price {
    color: #fe9700;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    display: block;
    margin-bottom: 25px;
}

.mainpopular-item__btn {
    border-radius: 10px;
    background: -webkit-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -moz-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -o-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -ms-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: linear-gradient(57deg, #14427b 30%, #285690 69%);
    text-align: center;
    line-height: 49px;
    text-decoration: none;
    width: 150px;
    height: 49px;
    font-family: 'Roboto';
    color: #fefefe;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 700;
}

.mainpopular-item__btn:hover {
    background: #4b7fc0;
}

.mainpopular-item__btn:active {
    background-color: #325684;
}

@media (max-width: 992px) {
    .mainpopular-column {
        width: 33.333%;
    }
}

@media (max-width: 720px) {
    .mainpopular-column {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .mainpopular-column {
        width: 100%;
    }
}

.mainnews {
    padding: 58px 0;
}

.mainnews__title {
    margin-bottom: 55px;
}

.mainnews-item {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.mainnews-item:last-child {
    margin-bottom: 0;
}

.mainnews-cell {
    display: table-cell;
}

.mainnews-cell:first-child {
    position: relative;
    z-index: 1;
    right: -3px;
    width: 218px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 15px 0 33px -10px rgba(94, 122, 158, 0.4);
}

.mainnews-cell:last-child {
    position: relative;
    z-index: 0;
    left: -3px;
    border: 3px solid #f0f0f0;
    border-left: none;
    border-radius: 0 15px 15px 0;
    background-color: #fff;
}

.mainnews-image {
    position: relative;
}

.mainnews-image a {
    display: table-cell;
    height: 190px;
    vertical-align: middle;
    text-align: center;
    width: 218px;
}

.mainnews-image:after {
    position: absolute;
    top: 50%;
    right: -10px;
    width: 10px;
    height: 38px;
    margin-top: -19px;
    content: '';
    background: url("/img/icons/news-icon.png") 0 0 no-repeat;
}

.mainnews-body {
    padding: 30px 15px 30px 30px;
}

.mainnews-body__title {
    color: #131316;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.mainnews-body__data {
    background: url("/img/icons/data-icon.png") top left no-repeat;
    padding-left: 23px;
    color: #9c9caf;
    line-height: 16px;
    padding-bottom: 13px;
    margin-bottom: 10px;
    position: relative;
}

.mainnews-body__data:before {
    content: '';
    width: 28px;
    height: 2px;
    background-color: #325684;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mainnews-body__text {
    position: relative;
    color: #474750;
    line-height: 20px;
}

.mainnews-body__more {
    color: #325684;
    text-decoration: none;
}

.mainnews-block-bottom {
    padding-top: 20px;
}

@media (max-width: 600px) {
    .mainnews-cell {
        display: block;
        width: 100% !important;
    }

    .mainnews-cell:first-child {
        right: 0;
        box-shadow: 0px 0 33px 0px rgba(94, 122, 158, 0.4);
    }

    .mainnews-cell:last-child {
        top: -10px;
        left: 0;
        padding-top: 10px;
        border: 3px solid #f0f0f0;
        border-top: none;
        border-radius: 0 0 15px 15px;
    }

    .mainnews-image {
        width: 100%;
        text-align: center;
    }

    .mainnews-image a {
        display: block;
        height: auto;
        padding: 20px 0;
        width: auto;
    }

    .mainnews-image:after {
        display: none;
    }
}

.mainbrands {
    padding: 60px 0 40px 0;
    overflow: hidden;
    position: relative;
}

.mainbrands:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 409px;
    height: 321px;
    content: '';
    background: url("/img/blockbg/brands-left.png") 0 0 no-repeat;
}

.mainbrands:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 331px;
    height: 322px;
    content: '';
    background: url("/img/blockbg/brands-right.png") 0 0 no-repeat;
}

.mainbrands__title {
    margin-bottom: 60px;
}

.mainbrands-row {
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    text-align: center;
}

.mainbrands-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 20px 20px;
}

.mainbrands-item a {
    display: block;
}

.maintext {
    padding: 60px 0;
}

.maintext__title {
    margin-bottom: 30px;
}

.maintext-block {
    color: #474750;
    font-size: 16px;
    line-height: 24px;
}

.maintext-block p {
    margin-bottom: 10px;
}

.maintext-block ul {
    margin-bottom: 10px;
}

.maintext-block ul li {
    list-style: none;
    position: relative;
    margin-bottom: 5px;
}

.maintext-block ul li:last-child {
    margin-bottom: 0;
}

.maintext-block ul li:before {
    top: 0;
    left: 0;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 8px;
    content: '';
    vertical-align: middle;
    border-radius: 50%;
    background-color: #f2b90f;
}

/*
font-family: 'Roboto';
@extend .fr;
@include anim(0.3s);
*/
.content {
    padding: 65px 0;
}

.content-breadcrumbs {
    color: #9c9caf;
    margin-bottom: 16px;
}

.content-breadcrumbs a {
    color: #4b7fc0;
    text-decoration: none;
}

.content__title {
    margin-bottom: 30px;
}

.content-text {
    padding-bottom: 40px;
}

.content-text p {
    color: #474750;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.content-text p:last-child {
    margin-bottom: 0;
}

.content-filter {
    display: table;
    margin-bottom: 23px;
}

.content-filter-sector {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    color: #474750;
}

.content-filter-sector:first-child {
    padding-left: 0;
}

.content-filter__control {
    color: #131316;
    text-decoration: none;
    border-bottom: 1px dotted;
    display: inline-block;
    margin-left: 5px;
}

.content-filter__control.active {
    color: #528dd4;
}

.content__pricedwn {
    color: #4b7fc0;
    background: url("/img/icons/price.png") left no-repeat;
    line-height: 26px;
    padding-left: 33px;
    display: inline-block;
    text-transform: uppercase;
}

.content__pricedwn span {
    display: inline-block;
    border-bottom: 2px dotted;
    line-height: 14px;
}

.content__pricedwn:hover {
    color: #325684;
    background: url("/img/icons/price-h.png") left no-repeat;
}

.content-table {
    border-radius: 10px;
    overflow: hidden;
}

.content-table table {
    width: 100%;
    border-collapse: collapse;
}

.content-table table tr {
    background-color: #fff;
}

.content-table table tr:last-child td {
    border-bottom: 3px solid #f0f0f0;
}

.content-table table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.content-table table th {
    padding: 0 10px;
    background-color: #f1b80f;
    height: 70px;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    border-right: 1px solid #deaa0e;
}

.content-table table th:first-child {
    border-left: 3px solid #f1b80f;
}

.content-table table th:last-child {
    border-right: 3px solid #f1b80f;
}

.content-table table td {
    padding: 20px;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    color: #474750;
    text-transform: uppercase;
}

.content-table table td.model div {
    max-width: 400px;
}

.content-table table td.model {
    word-break: break-all;
}

.content-table table td:first-child {
    border-left: 3px solid #f0f0f0;
}

.content-table table td:last-child {
    border-right: 3px solid #f0f0f0;
}

.content-table__subheader {
    color: #131316;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
}

.content-table__add {
    cursor: pointer;
    color: #58585f;
    border-bottom: 1px dotted;
    text-decoration: none;
    text-transform: none;
}

.content-table__add:hover {
    color: #4b7fc0;
}

.content-table__add:active {
    color: #325684;
}

.content-form {
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 45px 0 rgba(94, 122, 158, 0.4);
}

.content-form .popup-body-column {
    width: 25%;
}

.content-form .popup-body-column-recaptcha {
    width: 50%;
}

.content-form .popup-body-column-recaptcha div{
    float: right;
}

.content-form .popup-body__btn {
    width: 100%;
}

.content-form__title {
    margin-bottom: 30px;
}

.content-news p {
    margin-bottom: 15px;
}

.content-news p:last-child {
    margin-bottom: 0;
}

.content-news .mainnews-body__data {
    display: inline-block;
}

.content-news .mainnews-body__text {
    display: block;
}

.content-news__image {
    float: left;
    position: relative;
    z-index: 5;
    box-shadow: 0 0 45px 0 rgba(94, 122, 158, 0.4);
    background-color: #fff;
    width: 408px;
    height: 330px;
    border-radius: 15px;
    position: relative;
    margin: 0 30px 20px 0;
    text-align: center;
}

.content-news__image a {
    display: table-cell;
    vertical-align: middle;
    height: 330px;
    width: 408px;
}

.content-news__image:after {
    position: absolute;
    top: 50%;
    right: -10px;
    width: 10px;
    height: 38px;
    margin-top: -19px;
    content: '';
    background: url("/img/icons/news-icon.png") 0 0 no-repeat;
}

@media (max-width: 992px) {
    .content-filter-sector {
        padding-left: 20px;
    }

    .content-table table th {
        font-size: 12px;
    }

    .content-form .popup-body-column {
        width: 50%;
        margin-bottom: 20px;
    }

    .content-form .popup-body-row.row {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .content {
        padding-top: 20px;
    }

    .content-filter {
        margin-bottom: 0;
        width: 100%;
    }

    .content-filter-sector {
        display: block;
        padding-left: 0;
        width: 100% !important;
        padding-bottom: 15px;
        text-align: center;
    }

    .content-table {
        overflow: hidden;
        overflow: auto;
    }

    .content-table table {
        width: 750px;
    }

    .content-table table th {
        font-size: 12px;
    }

    .content-form {
        padding: 20px;
    }

    .content-form .popup-body-column {
        width: 100%;
    }

    .content-form .popup-body-row.row {
        margin-bottom: 25px;
    }

    .content-news__image {
        float: none;
        width: 100%;
        margin: 0px 0px 25px 0px;
    }

    .content-news__image:after {
        content: '';
        display: none;
    }

    .content-news__image a {
        width: auto;
        display: block;
    }

    .content-news__image a img {
        max-width: 100%;
    }
}

.content-pagging {
    text-align: center;
    padding-top: 40px;
}

.content-pagging ul {
    display: table;
    width: 100%;
}

.content-pagging ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.content-pagging__link {
    width: 29px;
    height: 29px;
    display: block;
    line-height: 29px;
    color: #282828;
    font-size: 16px;
    text-decoration: none;
}

.content-pagging__link.active {
    color: #f2b90f;
}

.content-pagging__link.left, .content-pagging__link.right {
    border-radius: 50%;
}

.content-pagging__link.left {
    background: #e1e1e1 url("/img/icons/page-left.png") center no-repeat;
}

.content-pagging__link.left:hover {
    background: #fe9700 url("/img/icons/page-left.png") center no-repeat;
}

.content-pagging__link.left:active {
    background: #f1b80f url("/img/icons/page-left.png") center no-repeat;
}

.content-pagging__link.right {
    background: #e1e1e1 url("/img/icons/page-right.png") center no-repeat;
}

.content-pagging__link.right:hover {
    background: #fe9700 url("/img/icons/page-right.png") center no-repeat;
}

.content-pagging__link.right:active {
    background: #f1b80f url("/img/icons/page-right.png") center no-repeat;
}

.quantity {
    width: 55px;
    border-radius: 10px;
    overflow: hidden;
    height: 22px;
    display: inline-block;
}

.quantity__btn {
    width: 18px;
    height: 22px;
    float: left;
    background-color: #e1e1e1;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.quantity__btn.dwn {
    background-image: url("/img/icons/minus.png");
}

.quantity__btn.up {
    background-image: url("/img/icons/plus.png");
}

.quantity__btn:hover {
    background-color: #4b7fc0;
}

.quantity__btn:active {
    background-color: #325684;
}

.quantity__inp {
    font-family: 'Roboto';
    font-size: 14px;
    float: left;
    width: 19px;
    height: 22px;
    text-align: center;
    color: #474750;
}

/*
font-family: 'Roboto';
@extend .fr;
@include anim(0.3s);
*/
.footer-top {
    background-color: #131316;
}

.footer-top-table {
    display: table;
    width: 100%;
}

.footer-top-column {
    display: table-cell;
    width: 40%;
    text-align: center;
    height: 88px;
    vertical-align: middle;
}

.footer-top-column:first-child {
    text-align: left;
    width: 30%;
}

.footer-top-column:last-child {
    text-align: right;
    width: 30%;
    color: #a1a1a1;
    font-size: 16px;
}

.footer-top-column .header-top__phone, .footer-top-column .header-top__email, .footer-top-column .header-top__messender {
    float: none;
    display: inline-block;
    margin: 5px 10px;
}

.footer-bottom {
    background-color: #0d0d0f;
    padding: 20px 25px;
    text-align: center;
    color: #fff;
    line-height: 18px;
}

.footer-bottom a {
    color: #ffac32;
    text-decoration: none;
    white-space: nowrap;
}

.footer-top-column.mobile_messendgers {
    display: none;
}

@media (max-width: 768px) {
    .footer-top {
        padding: 10px 0;
    }

    .footer-top-column {
        display: block;
        width: 100% !important;
        text-align: center !important;
        height: auto;
        padding: 10px 0;
    }

    .footer-top-column .hide_mobile{
        display: none;
    }

    .footer-top-column.mobile_messendgers{
        display: block;
    }
}

.title_1 {
    background: url("/img/tittles/01.png") center no-repeat;
    min-height: 70px;
    text-align: center;
    color: #315684;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 36px;
}

.title_2 {
    background: url("/img/tittles/popup.png") center no-repeat;
    color: #131316;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    min-height: 57px;
    line-height: 24px;
}

.title_3 {
    background: url("/img/tittles/02.png") center no-repeat;
    min-height: 49px;
    text-align: center;
    color: #315684;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 47px;
}

@media (max-width: 768px) {
    .title_1 {
        font-size: 24px;
        line-height: 28px;
    }
}

.blockbg {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.blockbg .container {
    z-index: 2;
}

.blockbg:before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 460px;
    height: 218px;
    content: '';
    background: url("/img/blockbg/top.png") 0 0 no-repeat;
}

.blockbg:after {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 364px;
    height: 266px;
    content: '';
    background: url("/img/blockbg/bottom.png") 0 0 no-repeat;
}

.popup-bg {
    display: none;
    opacity: 0.7;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.popup {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
}

.popup-close {
    width: 16px;
    height: 15px;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    background: url("/img/icons/clean-h.png") 0 0 no-repeat;
}

.popup-body__title {
    font-size: 20px;
    font-weight: 900;
    line-height: 49px;
    height: 49px;
    margin-bottom: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #131316;
    background: url("/img/tittles/popup.png") top no-repeat;
}

.popup-body-row {
    margin: 0px 0px 20px 0px;
}

.popup-body-row.row {
    margin: 0px -10px 20px -10px;
}

.popup-body-row.last {
    margin-bottom: 0;
}

.popup-body-column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.popup-body-column-recaptcha {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.popup-body__input {
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    width: 100%;
    height: 49px;
    font-family: 'Roboto';
    padding: 0 20px;
    color: #a4a4b7;
    font-size: 14px;
}

.popup-body__input.err {
    color: red;
}

.error_border {
    border-color: red
}

textarea.popup-body__input {
    padding: 15px 20px;
    height: 100px;
    resize: none;
}

.popup-body-req {
    font-weight: 700;
    color: #8b8b97;
    padding-top: 5px;
}

.popup-body-req span {
    color: #f02248;
}

.popup-body__file {
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    height: 49px;
    font-family: 'Roboto';
    padding: 0 10px 0 20px;
    color: #a4a4b7;
    font-size: 14px;
    cursor: pointer;
    line-height: 47px;
}

.popup-body__file span {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 25px;
    background: url("/img/icons/add-photo.png") right no-repeat;
}

.popup-body__hiddenfile {
    display: none;
}

.popup-body__btn {
    text-align: center;
    text-decoration: none;
    line-height: 49px;
    border-radius: 10px;
    background: -webkit-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -moz-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -o-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: -ms-linear-gradient(33deg, #14427b 30%, #285690 69%);
    background: linear-gradient(57deg, #14427b 30%, #285690 69%);
    width: 210px;
    height: 49px;
    font-family: 'Roboto';
    color: #fefefe;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 700;
}

.popup-body__btn span {
    background: url("/img/icons/send.png") right no-repeat;
    padding-right: 25px;
}

.popup-body__btn:hover {
    background: #4b7fc0;
}

.popup-body__btn:active {
    background-color: #325684;
}

.popup-body__clinbtn {
    font-family: 'Roboto';
    border-radius: 10px;
    border: 3px solid #4b7fc0;
    background-color: #fff;
    height: 49px;
    display: block;
    width: 100%;
    color: #4b7fc0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.popup-body__clinbtn span {
    background: url("/img/icons/clean.png") left no-repeat;
    padding-left: 25px;
}

.popup-body__clinbtn:hover {
    background-color: #4b7fc0;
    color: #fff;
}

.popup-body__clinbtn:hover span {
    background: url("/img/icons/clean-h.png") left no-repeat;
    padding-left: 25px;
}

.popup-body__clinbtn:active {
    background-color: #325684;
    border: 3px solid #325684;
}

.popup-body__printbtn {
    font-family: 'Roboto';
    border-radius: 10px;
    border: 3px solid #4b7fc0;
    background-color: #fff;
    height: 49px;
    display: block;
    width: 100%;
    color: #4b7fc0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.popup-body__printbtn span {
    background: url("/img/icons/price.png") left no-repeat;
    padding-left: 35px;
    line-height: 26px;
    display: inline-block;
}

.popup-body__printbtn:hover {
    background-color: #4b7fc0;
    color: #fff;
}

.popup-body__printbtn:hover span {
    background: url("/img/icons/price-a.png") left no-repeat;
}

.popup-body__printbtn:active {
    background-color: #325684;
    border: 3px solid #325684;
}

@media (max-width: 768px) {
    .popup-body-req {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .popup {
        left: 5%;
        width: 90%;
        margin: 0;
    }

    .popup-close {
        right: 0;
    }

    .popup-body-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .popup-body-column-recaptcha {
        width: 100%;
        margin-bottom: 20px;
    }

    .popup-body-column-recaptcha:last-child {
        margin-bottom: 0;
    }

    .popup-body-column:last-child {
        margin-bottom: 0;
    }
}

.select {
    position: relative;
    cursor: pointer;
}

.select .select-title {
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    width: 100%;
    height: 49px;
    font-family: 'Roboto';
    color: #a4a4b7;
    font-size: 14px;
}

.select .select-title__arrow {
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    right: 10px;
    width: 8px;
    height: 5px;
    background: url("/img/icons/select-arrow.png") 0 0 no-repeat;
}

.select .select-title__value {
    font-size: 14px;
    color: #9c9caf;
    line-height: 47px;
    display: block;
    overflow: hidden;
    padding: 0 25px 0 20px;
    white-space: nowrap;
    text-transform: none;
    text-overflow: ellipsis;
}

.select .select-options {
    position: absolute;
    z-index: 10;
    top: 40px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    border: 1px solid #e4e4e4;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.select .select-options-inside {
    background-color: #fff;
    max-height: 100px;
}

.select .select-options__value {
    color: #9b9b9b;
    font-weight: 300;
    padding: 10px 20px;
}

.select .select-options__value:hover {
    color: #000;
}

.select.err .select-title__value {
    color: red;
}
.content-table__dell {
    cursor: pointer;
    display: inline-block;
    background: url("/img/icons/clean-grey.png") 0 0 no-repeat;
    width: 16px;
    height: 15px;
}
.cart_empty_text{
    margin-top: 60px;
}

.mainbrands-item img{
    width: 90px !important;
}

    /*print test!!!!!!*/

.print_order_form{
    display: none;
}
.content__title_print{
    display: none;
}
.cart_count_print{
    display: none;
}
.mainnews-body__text li{
    margin: 5px 0;
}
.mainnews-body__text ol,.maintext-block ol{
    padding: 0 40px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.mainnews-body__text ul,.maintext-block ul{
    padding: 0 40px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.topWindow{
    position: fixed;
    top: 0;
    z-index:9999;
}
.filter_print_div{
    height: 25px;
}
.filter_print{
    float: left;
    font-size: 18px;
    display: none;
}
@media print
{
    .content-filter{
        display: none !important;
    }
    .filter_print{
        display: inline-block !important;
    }
    .cart_count_print{
        float: left;
    }

    .content__title_print{
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        font-weight: bold;
    }
    .print_order_form{
        display: block;
    }
    .print_order_form_text{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
    }
    #print_table table{
        width: 100%;
    }
    #print_table{
        table-layout:  fixed;
        overflow: hidden;
        font-size: 12px;
        border: solid 1px black;
        border-radius: 0;
    }

    #print_table th{
        height: 100%;
        font-size: 12px;
        font-weight: normal;
        background: white;
        color: black;
        border: 1px solid black;
        padding: 4px 2px;
    }
    #print_table td{
        padding: 8px;
        background: white;
        border: 1px solid black;
    }
    .noprint{
        display:none !important;
    }
    #print_form {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;

    }

    #print_form tr{
        width: 100%;
        border: 1px solid black;
    }
    #print_form td{
        padding: 8px;
        border: 1px solid black;
    }
    #print_form .col1{
        width: 300px;
    }
    #logo{
        display: none !important;
    }
    #logo_print {
        margin-top: -50px;
        float: left !important;
        display: inline-block !important;
    }
    .header-top__email{
        font-weight: bold;
        margin-top: 50px !important;
        color: black;
        float: right !important;
    }
    .header-top__phone{
        color: black;
        font-weight: bold;
        margin-top: 50px !important;
        float: right !important;
    }

}
.content-table table tr:hover td {
    background-color: #e0e4ee;
}

.price-shortlinks {
    padding: 5px 0;
    padding-bottom: 10px;
    color: #4b7fc0;
}

.price-shortlinks > li{
    padding: 2px;
    list-style-type: none;
    display: inline-block;
    line-height: 18px;
}

.price-shortlink {
    display: inline-block;
    padding: 0 5px;
    color: #4b7fc0;
}

.title_success {
    color: #1d7d3e;
}

.autocompleter {
    padding: 0 23px;
    background: transparent;
    top: 48px;
}

.autocompleter-list {
    background: #fff;
}

ol,ul,dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding: 0 40px;
}

h2,h3,h4,h5,h6
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.video-block {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    border:1px solid #ccc;
}
.video-block iframe,.video-block object,.video-block embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*.g-recaptcha {*/
/*    padding-top: 15px;*/
/*    transform:scale(0.75);*/
/*    -webkit-transform:scal(0.75);*/
/*    transform-origin:0 0;*/
/*    -webkit-transform-origin:0 0;*/
/*}*/